# PostgreSQL Configuration
POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=job_tracker_db
POSTGRES_PORT=5432
POSTGRES_SSL_MODE=disable

# delete the pgadmin Docker volume if changes are needed
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=vscode@vscode.com
PGADMIN_DEFAULT_PASSWORD=vscode

# Sync Service
NEXT_PUBLIC_SYNC_URL=http://localhost:8080/sync

# Pro Tip: For AUTH_SECRET, you can generate a random string quickly by running npx auth secret or openssl rand -base64 32 in your terminal.
AUTH_SECRET=your_generated_random_string

# Google Oauth
AUTH_GOOGLE_ID=your_client_id_here
AUTH_GOOGLE_SECRET=your_client_secret_here

# Meta Oauth
AUTH_FACEBOOK_ID=Facebook App ID
AUTH_FACEBOOK_SECRET=Facebook App Secret

# PostHog Analytics
NEXT_PUBLIC_POSTHOG_KEY=your_posthog_key_here
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com