# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=job_tracker_db
POSTGRES_PORT=5432
POSTGRES_SSL_MODE=disable

# delete the pgadmin Docker volume if changes are needed
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=vscode@vscode.com
PGADMIN_DEFAULT_PASSWORD=vscode